<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-sm navbar-light bg-light" aria-label="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_home') }}">Xml Manager</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExample03">
                        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">{{ 'menu.link.home'|trans }}</a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_document_index') }}">{{ 'menu.link.document'|trans }}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_user_index') }}">{{ 'menu.link.user'|trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_role_index') }}">{{ 'menu.link.role'|trans }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>


                    <div class="d-flex flex-row">
                        {% if is_granted('ROLE_USER') %}
                            <div>
                                <p class="me-3 fw-bold">{{ app.user.email }}</p>
                            </div>
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                <button type="button" class="btn btn-primary">{{ 'menu.connection.button.logout'|trans }}</button>
                            </a>
                        {% else %}
                            <a class="nav-link" href="{{ path('app_login') }}">
                                <button type="button" class="btn btn-outline-primary me-2">{{ 'menu.connection.button.login'|trans }}</button>
                            </a>
                            <a class="nav-link" href="{{ path('app_register') }}">
                                <button type="button" class="btn btn-primary">{{ 'menu.connection.button.signup'|trans }}</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
